@use "variables" as *;

.wrapper{
    max-width: 1560px;
    width: 90%;
    margin: 0 auto;
}

button{
    margin-top: 1.5rem;
    color: $almostBlack;
    background-color: $sunflowerYellow;
    padding: 15px 15px 10px 15px;
    border: none;
    // margin: 50px 0;
    cursor: pointer;
    // &:hover{
    //     background-color: ;
    //     color: ;
    // }
    // &:focus{
    //     background-color: ;
    //     color: ;
    // }
    &.findOut{
        color: $white;
        background-color: $black;
    }
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}