@use "variables" as *;

header{
    background-image: url("../the-restaurant-mall-assets/blog-header.jpg");
    background-position: top;
    background-size: cover;
    height: 550px;
    nav ul li:first-child a{
        border-bottom: none;
    }
    nav ul li:nth-child(3) a{
        padding-bottom: 5px;
        border-bottom: 2px solid $sunflowerYellow;
    }
    h1{
        margin-left: 1rem;
        @media (max-width: 500px) {
            margin-left: 0;
            text-align: center;
        }
    }
}


