@use "variables" as *;

.visually-hidden:not(:focus):not(:active) { 
    position: absolute;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}


.blogFlexContainer{
    display: flex;
    // justify-content: space-between;
    gap: 5%;
    .blogSide{
        width: 380px;
        margin: 150px 0 0 60px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: $almostBlack;
        border-bottom: 500px solid red;
        position: relative;
        padding: 0 10px;
        .featured{
            width: 370px;
        }
        .post{
            margin-top: 50px;
            padding-bottom: 15px;
            ul {
                list-style: initial;
                padding-left: 20px;
                a{
                    line-height: normal;
                    font-family: $bodyFont;
                }
            }
        }
        .sideImgContainer{
            img{
                position: absolute;
                max-width: 110%;
                top:-25px;
                left: -60px;
            }
        }
    }

    .employment{
        // flex-basis: 120%;
        margin-right: 15px;
        .imgContainer{
            flex-shrink: 0;
            background-color: $sunflowerYellow;
            img{
                margin: 0 auto;
                width: 100%;
                position: relative;
                top: -15px;
                right: -15px;
                // box-shadow: -20px 20px $sunflowerYellow;
            }
        }
        .employmentText{
            padding: 45px 45px 100px 45px;
            border-left: 6px solid $sunflowerYellow;
            border-bottom: 6px solid $sunflowerYellow;
            p{
                margin: 20px 0;
            }
        }

    }
}

.comments{
    margin-left: 40%;
    .comment{
        display: flex;
        gap: 3%;
        margin-bottom: 50px;
        .commentImg{
            min-width: 80px;
            margin: 10px;
            img{
                margin: auto;
            }
            
        }
        .commentText{
            span{
                color: $sunflowerYellow;
                font-weight: 700;
            }
        }
    }
}