@use "variables" as *;

.contactFlexContainer{
    display:flex;
    justify-content: space-between;
}


.contactDetails {
    text-align: left;
    padding: 3rem;
    height: 20rem;
    .socialIcons {
        display: flex;
        gap: 1rem;
        i {
            font-size: 1.5rem;
            color: $sunflowerYellow;
            transition: 0.3s;
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
    .emailLink {
        font-family: $bodyFont;
        font-weight: normal;
        line-height: normal;
        
    }
    .address {
        font-family: $bodyFont;
        padding-top: 1rem;
        font-style: normal;
    }
}

.contactForm{
    flex-shrink: 0;
    width: 100%;
    background-color: $almostBlack;
    padding: 3rem;
    box-shadow: 25px 25px $sunflowerYellow;
    position: relative;
    top: -8rem;
}

