@use "variables" as *;

.flexContainer{
    display:flex;
    justify-content: space-between;
    // gap: 7%;
    @media (max-width: 1060px) {
        flex-direction: column;
        justify-content: flex-start;
        // gap: 4rem;
        .contactDetails{
            order: 2;
            padding-top: 0;
            text-align: center;
            .socialIcons{
                justify-content: center;
            }
        }
        .contactForm{
            margin-bottom:0;
            padding: 1rem;
        }
    }
}


.contactDetails {
    text-align: left;
    padding: 3rem;
    height: 20rem;
    .socialIcons {
        display: flex;
        gap: 1rem;
        i {
            font-size: 1.5rem;
            color: $sunflowerYellow;
            transition: 0.3s;
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
    .email-link {
        font-family: $bodyFont;
        font-weight: normal;
        line-height: normal;
        
    }
    .address {
        font-family: $bodyFont;
        padding-top: 1rem;
        font-style: normal;
    }
}

.formContainer{
    flex-basis: 65%;
}
.contactForm{
    flex-shrink: 0;
    width: 100%;
    background-color: $almostBlack;
    padding: 3rem;
    box-shadow: 25px 25px $sunflowerYellow;
    position: relative;
    top: -8rem;
}

