@use "variables" as *;

 
.commentForm,
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    // flex: 2.5;
    margin-bottom: 4rem;
    .userInput {
        display: flex;
        gap: 3rem;
    }
}

input,
textarea {
    color: $white;
    border: none;
    border-bottom: 2px solid $sunflowerYellow;
    background-color: transparent;
    font-family: $bodyFont;
    font-size: clamp(1rem, 2vw, 1.25rem);
    width: 100%;
}

input {
    padding: 1.5rem;
}

textarea {
    padding: 2rem 1.5rem;
    border: 2px solid $sunflowerYellow;
}

button{
    margin-top: 0;
}