@use "variables" as *;

header{
    background-image: url("../the-restaurant-mall-assets/home-header.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
        nav ul {
            display: flex;
            padding: 40px 0;
                li{
                    padding: 0 20px;
                }
                li:first-child a {
                        // text-decoration: underline $sunflowerYellow;
                        padding-bottom: 5px;
                        border-bottom: 2px solid $sunflowerYellow;
                    }
        }
        .flexContainer{
            display: flex;
            justify-content: space-between;
            // height: 100%;
            div{
                width: 45%;
                margin-left: 2%;
                img{
                    max-width: 100%;
                    height: auto;
                    // margin: 0 auto;
                    display: block;
                    position: relative;
                }
            }

        }
}

h1{
    width: 30%;
    z-index: 10;
    margin-left: 5%;
        span {
            color: $almostBlack;
            background-color: $white;
            padding: 15px 5px 0 5px;
        }
}
