@use "variables" as *;

header{
    background-image: url("../the-restaurant-mall-assets/home-header.jpg");
    background-position: center;
    background-size: cover;
    height: 60vh;
        nav ul {
            display: flex;
            padding: 40px 0;
                li{
                    padding: 0 20px;
                }
                li:first-child a {
                        // text-decoration: underline $sunflowerYellow;
                        padding-bottom: 5px;
                        border-bottom: 2px solid $sunflowerYellow;
                    }
        }
        .flexContainer{
            display: flex;
            justify-content: space-between;
            img{
                width: 55%;
                margin-top: 3%;
            }
        }
}

h1{
    width: 30%;
    margin-left: 5%;
        span {
            color: $almostBlack;
            background-color: $white;
            padding: 15px 5px 0 5px;
        }
}
