@use "variables" as *;

.about{
    margin: 100px 0;
}
.aboutItems{
    // padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // gap: 5%;
    .items{
        h2{
            color: $white;
        }
        width: calc((100%/2) - 1rem);
        // margin: 0 0 5% 5%;
        position: relative;
        &::before{
            // display: inline-block;
            content: '';
            background-color: $sunflowerYellow;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-size: 1.5rem 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            padding: 25px;
            position: absolute;
            top: 15px;
            left: -60px;
        }
    }
    .item1::before{
        background-image: url("../the-restaurant-mall-assets/location-dot-solid.svg");
    }
    .item2::before{
        background-image: url("../the-restaurant-mall-assets/users-solid.svg");
    }
    .item3::before{
        background-image: url("../the-restaurant-mall-assets/file-solid.svg");
    }
    .item4::before{
        background-image: url("../the-restaurant-mall-assets/phone-flip-solid.svg");
    }
}

.foodMenu{
    background-color: $almostBlack;
    .foodFlexContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // flex-wrap: wrap;
        // gap: 5%;
        .menu{
            display:flex;
            // gap: 2%;
            .foodImgContainer{
                flex-shrink: 0; //replaced min-width with flex-shrink: 0 for responsiveness
                position: relative;
                img{
                    position: relative;
                    box-shadow: 20px 20px $sunflowerYellow;
                }
            }
            .foodTextContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                // align-self: flex-end;
            }
        }

        .menu1{
            .foodImgContainer{
                top: -50px;
                left: -60px;
            }
        }
        .menu2{
            .foodTextContainer{
                text-align: right;
                align-items: flex-end;
            }
            .foodImgContainer{
                bottom: -50px;
                right: -60px;
                img{
                    box-shadow: -20px 20px $sunflowerYellow;
                }
            }
        }
        
    }
}

.giftCard{
    text-align: center;
    margin: 150px 0;
    p{
        text-align: left;
        width: 87%;
        margin: 0 auto;
    }
    .banner{
        margin-top: 150px;
        height: 40vh;
        background-image: url("../the-restaurant-mall-assets/banner.jpg");
        background-position: center;
        background-size: cover;
    }
}

.nature{
    margin-bottom: 150px;
    h2{
        margin-top: 0;
    }
    .natureFlexContainer{
        display: flex;
        // flex-wrap: wrap; replaced by media query with flex direction: column
        // justify-content: space-between; replaced by use of gap
        gap: 6rem;
        .natureImgContainer{
            flex-shrink: 0; //replaced min-width with flex-shrink: 0 for responsiveness
            img{
                box-shadow: -20px 20px $sunflowerYellow;
            }
        }
        .natureTextContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
}