@use "variables" as *;

.mainMenu{
    margin: 100px 0;
}
.mainMenuItems{
    // padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .items{
        h2{
            color: $white;
        }
        // width: calc((100%/2) - 4%);
        width: 45%;
        margin: 0 0 5% 5%;
        position: relative;
        &::before{
            // display: inline-block;
            content: '';
            background-color: $sunflowerYellow;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-size: 30px 30px;
            width: 30px;
            height: 30px;
            padding: 25px;
            position: absolute;
            top: 15px;
            left: -60px;
        }
    }
    .item1::before{
        background-image: url("../the-restaurant-mall-assets/location-dot-solid.svg");
    }
    .item2::before{
        background-image: url("../the-restaurant-mall-assets/users-solid.svg");
    }
    .item3::before{
        background-image: url("../the-restaurant-mall-assets/file-solid.svg");
    }
    .item4::before{
        background-image: url("../the-restaurant-mall-assets/phone-flip-solid.svg");
    }
}

.foodMenu{
    background-color: $almostBlack;
    .foodFlexContainer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .foodImgContainer{
            width: 45%;
            min-width: 400px;
            img{
                margin: 0 auto;
                box-shadow: -20px 20px $sunflowerYellow;
                position: relative;
                top: 50px;
            }
            .burger{
                box-shadow: 20px 20px $sunflowerYellow;
                top: -50px;
            }
        }
        .foodTextContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 45%;
            padding: 60px 0;
            min-width: 400px;
            p{
                width: 75%;
            }
        }
        .try{
            text-align: right;
            align-items: flex-end;
        }
    }
}

.giftCard{
    text-align: center;
    margin: 150px 0;
    p{
        text-align: left;
        width: 87%;
        margin: 0 auto;
    }
    .banner{
        margin-top: 150px;
        height: 40vh;
        background-image: url("../the-restaurant-mall-assets/banner.jpg");
        background-position: center;
        background-size: cover;
    }
}

.nature{
    margin-bottom: 150px;
    h2{
        margin-top: 0;
    }
    .natureFlexContainer{
        display: flex;
        // flex-wrap: wrap; replaced by added media query with flex direction column
        // justify-content: space-between; replaced by use of gap
        gap: 6rem;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
        .natureImgContainer{
            flex-shrink: 0; //replaced min-width with flex-shrink: 0 for responsiveness
            @media (max-width: 1000px) {
                display: flex;
                justify-content: center;
            }
            img{
                box-shadow: -20px 20px $sunflowerYellow;
            }
        }
        .natureTextContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
}