@use "variables" as *;

.about{
    margin: 5rem 0;
}
.aboutItems{
    // padding: 20px 0;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    .items{
        width: calc((100%/2) - 1rem);
        .itemHeader{
            display: flex;
            align-items: center;
            gap: 1rem;
            .circleIcon{
                color: $almostBlack;
                background-color: $sunflowerYellow;
                border-radius: 50%;
                width: 2.5rem;
                height: 2.5rem;
                display:flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
            }
            h2{
                color: $white;
            }
        }
        p{
            padding: 0 0 1rem 3.5rem;
        }
    }

}

.featured{
    background-color: $almostBlack;
    .featFlexContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // flex-wrap: wrap;
        // gap: 5%;
        .menu{
            display:flex;
            // gap: 2%;
            .featImgContainer{
                flex-shrink: 0; //replaced min-width with flex-shrink: 0 for responsiveness
                position: relative;
                img{
                    position: relative;
                    box-shadow: 20px 20px $sunflowerYellow;
                }
            }
            .featTextContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                // align-self: flex-end;
            }
        }

        .menu1{
            .featImgContainer{
                top: -50px;
                left: -60px;
            }
        }
        .menu2{
            .featTextContainer{
                text-align: right;
                align-items: flex-end;
            }
            .featImgContainer{
                bottom: -50px;
                right: -60px;
                img{
                    box-shadow: -20px 20px $sunflowerYellow;
                }
            }
        }
        
    }
}

.giftCard{
    text-align: center;
    margin: 150px 0;
    p{
        text-align: left;
        width: 87%;
        margin: 0 auto;
    }
    .banner{
        margin-top: 7.5rem;
        height: 40vh;
        background-image: url("../the-restaurant-mall-assets/banner.jpg");
        background-position: center;
        background-size: cover;
    }
}

.nature{
    margin-bottom: 7.5rem;
    .natureFlexContainer{
        display: flex;
        // flex-wrap: wrap; replaced by media query with flex direction: column
        // justify-content: space-between; replaced by use of gap
        gap: 5rem;
        .natureImgContainer{
            flex-shrink: 0; //replaced min-width with flex-shrink: 0 for responsiveness
            img{
                box-shadow: -1rem 1rem $sunflowerYellow;
            }
        }
        .natureTextContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h2{
                margin: 0;
            }
            button{
                margin-top: 1rem;
            }
        }
    }
}