/****************************
    Break point: 1200px
*****************************/
@media (max-width: 1200px) {

    // HOME page - featured section

    .featured{
        .featFlexContainer{
            .menu{
                flex-direction: column;
                .featTextContainer{
                    text-align: center;
                    align-items: center;
                    padding: 2rem 0;
                }
                .featImgContainer{
                    display: flex;
                    justify-content: center;
                    position: initial;
                }
            }
            .menu2{
                .featTextContainer{
                    order: 2;
                }
            }
        }
    }
}

/****************************
    Break point: 1000px
*****************************/

@media (max-width: 1000px) {
    /* Styles for smaller DESKTOP and tablet devices go within this breakpoint */

    //HOME Page - About section

    .aboutItems{
        flex-direction: column;
        align-items: center;
        .items{
            width: 100%;
            text-align: center;
            .itemHeader{
                justify-content: center;
            }
            p{
                padding-left: 0;
            }
        }
    }

        // HOME - nature section

        .nature{
            .natureFlexContainer{
                flex-direction: column;
                gap: 4rem;
                .natureImgContainer{
                    display: flex;
                    justify-content: center;
                }
                .natureTextContainer{
                    text-align: center;
                    align-items: center;
                }
            }
        }

    // BLOG page

    .blogFlexContainer{
        flex-direction: column;
        gap: 1rem;
        .blogSide{
            order: 2;
            margin: 0 0 4rem 0;
            border-bottom: 0;
            .featuredRestFlex{
                flex-direction: row;
                align-items: center;
                .sideImgContainer{
                    padding: 1rem 0 0 1rem;
                    img{
                        position: unset;
                        max-width: 100%;
                    }
                }
            }
        }
        .blogMain{
            .employment{
                .imgContainer{
                    img{
                        width: 100%;
                    }
                }
                .employmentText{
                    padding-left: 3rem;
                }
            }
            .comments{
                padding-left: 3rem;
            }
        }
    }

    // CONTACT page

    .contactFlexContainer{
        flex-direction: column;
        justify-content: flex-start;
        // gap: 4rem;
        .contactDetails{
            order: 2;
            padding: 0;
            text-align: center;
            .socialIcons{
                justify-content: center;
            }
        }
        .contactForm{
            margin-bottom:0;
            padding: 1rem;
        }
    }
}

/****************************
    Break point: 500px
*****************************/

@media (max-width: 500px) {
    /* Styles for MOBILE devices go within this breakpoint */

    // hide desktop nav
    .desktopNav {
        display: none;
    }

    // show slide-out nav
    .side-nav {
        display: block;
    }

    // HOME - Header

    header{
        .flexContainer{
            padding-top: 1rem;
            flex-direction: column;
            .h1Container{
                margin-left: 4%;
                h1{
                    line-height: 4.3rem;
                }
            }
            .boxImgContainer{
                width: 95%;
                img{
                    position: relative;
                    top: 2rem;
                }
            }
        }
    }
    // HOME - About section

    .about{
        margin: 2.5rem 0;
    }
    // HOME - giftCard section

    .giftCard{
        margin: 2rem 0 4rem 0;
        p{
            text-align: center;
        }
        .banner{
            margin-top: 2rem;
        }
    }
    // HOME - nature section

    .nature{
        margin-bottom: 2rem;
        .natureFlexContainer{
            .natureImgContainer{
                img{
                    width: 100%;
                }
            }
            .natureTextContainer{
                h2{
                   line-height: normal;
                   margin-bottom: 1rem;
                }
            }
        }
    }

    // FORMS - Blog & Contact pages

        .commentForm,
        .contactForm {
            .userInput {
                    flex-direction: column;
            }
            
        }

    //FOOTER - All pages

    footer{
        .gallery{
            li{
                width: 100%;
            }
        }
    }

    // BLOG page

    .blogFlexContainer{
        .blogSide{
            .featuredRestFlex{
                flex-direction: column;
                .sideImgContainer{
                    padding: 1rem;
                }
                .featuredRest{
                    margin-top: 1rem;
                }
            }
        }
        .blogMain{
            .employment{
                .employmentText{
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                    // text-align: center;
                }
            }
            .comments{
                padding-left: 1rem;
                padding-bottom: 0;
                .comment{
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}




