/****************************
    Break point: 1200px
*****************************/
@media (max-width: 1200px) {

    .aboutItems{
        flex-direction: column;
        align-items: center;
        .items{
            width: 100%;
            // text-align: center;
        }
    }

    .foodMenu{
        .foodFlexContainer{
            .menu{
                flex-direction: column;
                .foodTextContainer{
                    text-align: center;
                    align-items: center;
                    padding: 2rem 0;
                }
                .foodImgContainer{
                    display: flex;
                    justify-content: center;
                    position: initial;
                }
            }
            .menu2{
                .foodTextContainer{
                    order: 2;
                }
            }
        }
    }
}
/****************************
    Break point: 1060px
*****************************/
@media (max-width: 1060px) {

    // CONTACT page

    .contactFlexContainer{
        flex-direction: column;
        justify-content: flex-start;
        // gap: 4rem;
        .contactDetails{
            order: 2;
            padding: 0;
            text-align: center;
            .socialIcons{
                justify-content: center;
            }
        }
        .contactForm{
            margin-bottom:0;
            padding: 1rem;
        }
    }
}

/****************************
    Break point: 1060px
*****************************/

@media (max-width: 1000px) {
    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */

//         flex-direction: column;
//         align-items: center;


    // HOME - foodMenu section

    // HOME - giftCard section

    // HOME - Nature section

    .nature{
        .natureFlexContainer{
            flex-direction: column;
            gap: 4rem;
            .natureImgContainer{
                display: flex;
                justify-content: center;
            }
            .natureTextContainer{
                text-align: center;
                align-items: center;
            }
        }
    }


}



@media (max-width: 800px) {
    /* all of our styles for TABLET devices will go within this breakpoint */

}

@media (max-width: 500px) {
    /* all of our styles for MOBILE devices will go within this breakpoint */
    
        // HOME - giftCard section
    .giftCard{
        p{
            text-align: center;
        }
    }
    
    .nature{
        .natureFlexContainer{
            .natureImgContainer{
                img{
                    width: 100%;
                }
            }
        }
    }

    footer{
        .gallery{
            li{
                width: 100%;
            }
        }
    }
  }



