html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* we have set our root element font-size to 125%, so 1 rem = 20px */
/* the font size of the body text is 20px per our styleguide, so 1rem*/
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Regular.ttf");
}
html {
  font-size: 125%;
}

body {
  font-family: "Barlow";
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.45rem;
  color: #ffffff;
  background-color: #2B331B;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 3.45rem;
  line-height: 4.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

h2, h3, h4, blockquote {
  font-family: "Josefin Sans";
  font-weight: normal;
  color: #FFD300;
  margin: 1rem 0;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(2rem, 7vw, 2.25rem);
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1.3px;
  color: #ffffff;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.9rem;
  letter-spacing: 0.8px;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  font-family: "Josefin Sans";
  text-decoration: none;
  text-align: center;
  line-height: 2.9rem;
  letter-spacing: 1px;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button {
  font-family: "Josefin Sans";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
}

.wrapper {
  max-width: 1560px;
  width: 90%;
  margin: 0 auto;
}

button {
  margin-top: 1.5rem;
  color: #171B0E;
  background-color: #FFD300;
  padding: 15px 15px 10px 15px;
  border: none;
  cursor: pointer;
}
button.findOut {
  color: #ffffff;
  background-color: #0F0F0F;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

header {
  background-image: url("../the-restaurant-mall-assets/home-header.jpg");
  background-position: top;
  background-repeat: repeat-x;
}
header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .flexContainer .h1Container {
  margin-left: 5%;
}
header .flexContainer h1 {
  width: 30%;
  z-index: 10;
  font-size: clamp(2.2rem, 11vw, 3.45rem);
}
header .flexContainer h1 .restaurant {
  color: #171B0E;
  background-color: #ffffff;
  padding: 15px 5px 0 5px;
}
header .flexContainer .boxImgContainer {
  width: 70%;
}
header .flexContainer .boxImgContainer img {
  width: 100%;
  position: relative;
  top: 70px;
}

.about {
  margin: 5rem 0;
}

.aboutItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2%;
}
.aboutItems .items {
  width: calc(50% - 1rem);
}
.aboutItems .items .itemHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.aboutItems .items .itemHeader .circleIcon {
  color: #171B0E;
  background-color: #FFD300;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.aboutItems .items .itemHeader h2 {
  color: #ffffff;
}
.aboutItems .items p {
  padding-left: 3.5rem;
}

.featured {
  background-color: #171B0E;
}
.featured .featFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.featured .featFlexContainer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.featured .featFlexContainer .menu .featImgContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.featured .featFlexContainer .menu .featImgContainer img {
  position: relative;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
}
.featured .featFlexContainer .menu .featTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.featured .featFlexContainer .menu1 .featImgContainer {
  top: -50px;
  left: -60px;
}
.featured .featFlexContainer .menu2 .featTextContainer {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.featured .featFlexContainer .menu2 .featImgContainer {
  bottom: -50px;
  right: -60px;
}
.featured .featFlexContainer .menu2 .featImgContainer img {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}

.giftCard {
  text-align: center;
  margin: 150px 0;
}
.giftCard p {
  text-align: left;
  width: 87%;
  margin: 0 auto;
}
.giftCard .banner {
  margin-top: 150px;
  height: 40vh;
  background-image: url("../the-restaurant-mall-assets/banner.jpg");
  background-position: center;
  background-size: cover;
}

.nature {
  margin-bottom: 150px;
}
.nature .natureFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
.nature .natureFlexContainer .natureImgContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nature .natureFlexContainer .natureImgContainer img {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}
.nature .natureFlexContainer .natureTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.nature .natureFlexContainer .natureTextContainer h2 {
  margin: 0;
}
.nature .natureFlexContainer .natureTextContainer button {
  margin-top: 1rem;
}

footer {
  background-color: #171B0E;
}
footer .gallery {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .gallery li {
  width: 31.3333333333%;
  margin: 1%;
  min-width: 200px;
}
footer .gallery li img {
  margin: 0 auto;
}
footer p {
  text-align: center;
  background-color: #0F0F0F;
  padding: 0.3rem;
}

header .desktopNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}
header .desktopNav ul li {
  padding: 0 20px;
}
header .desktopNav ul li:first-child a {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFD300;
}
header ul li {
  position: relative;
}
header ul li a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #FFD300;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.25s ease 0s;
  transition: width 0.25s ease 0s;
}
header ul li a:hover:not(.logo):after,
header ul li a:focus:not(.logo):after {
  width: 100%;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 30px;
  height: 30px;
  z-index: 40;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  position: absolute;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 100%;
}

.hamburger::before {
  content: "";
  top: -8px;
}

.hamburger::after {
  content: "";
  top: 8px;
}

input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.slide-out-menu:checked ~ .slide-out-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slide-out-menu:checked ~ .menu-button .hamburger::before {
  -webkit-transform: rotate(-90deg) translate(-8px, 0px);
          transform: rotate(-90deg) translate(-8px, 0px);
  width: 100%;
}
.slide-out-menu:checked ~ .menu-button .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
}
.slide-out-menu:checked ~ .menu-button .hamburger::after {
  -webkit-transform: rotate(90deg) translate(-8px, 0px);
          transform: rotate(90deg) translate(-8px, 0px);
  width: 100%;
}

.slide-out-nav {
  background-color: #171B0E;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  opacity: 0.95;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.slide-out-nav a {
  font-size: 2rem;
}
.slide-out-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
}

.side-nav {
  display: none;
}

/****************************
    Break point: 1200px
*****************************/
@media (max-width: 1200px) {
  .featured .featFlexContainer .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured .featFlexContainer .menu .featTextContainer {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0;
  }
  .featured .featFlexContainer .menu .featImgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: initial;
  }
  .featured .featFlexContainer .menu2 .featTextContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/****************************
    Break point: 1000px
*****************************/
@media (max-width: 1000px) {
  /* Styles for smaller DESKTOP and tablet devices go within this breakpoint */
  .aboutItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutItems .items {
    width: 100%;
    text-align: center;
  }
  .aboutItems .items .itemHeader {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutItems .items p {
    padding-left: 0;
  }
  .contactFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contactFlexContainer .contactDetails {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    text-align: center;
  }
  .contactFlexContainer .contactDetails .socialIcons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactFlexContainer .contactForm {
    margin-bottom: 0;
    padding: 1rem;
  }
}
/****************************
    Break point: 500px
*****************************/
@media (max-width: 500px) {
  /* Styles for MOBILE devices go within this breakpoint */
  .desktopNav {
    display: none;
  }
  .side-nav {
    display: block;
  }
  header .flexContainer {
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .flexContainer .h1Container {
    margin-left: 4%;
  }
  header .flexContainer .h1Container h1 {
    line-height: 4.3rem;
  }
  header .flexContainer .boxImgContainer {
    width: 95%;
  }
  header .flexContainer .boxImgContainer img {
    position: relative;
    top: 40px;
  }
  .about {
    margin: 2.5rem 0;
  }
  .giftCard p {
    text-align: center;
  }
  .nature .natureFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  .nature .natureFlexContainer .natureImgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nature .natureFlexContainer .natureImgContainer img {
    width: 100%;
  }
  .nature .natureFlexContainer .natureTextContainer {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .commentForm .userInput,
.contactForm .userInput {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .gallery li {
    width: 100%;
  }
}