html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* we have set our root element font-size to 125%, so 1 rem = 20px */
/* the font size of the body text is 20px per our styleguide, so 1rem*/
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Regular.ttf");
}
html {
  font-size: 125%;
}

body {
  font-family: "Barlow";
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.45rem;
  color: #ffffff;
  background-color: #2B331B;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 3.45rem;
  line-height: 4.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

h2, h3, h4, blockquote {
  font-family: "Josefin Sans";
  font-weight: normal;
  color: #FFD300;
  margin: 1rem 0;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1.3px;
  color: #ffffff;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.9rem;
  letter-spacing: 0.8px;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  font-family: "Josefin Sans";
  text-decoration: none;
  text-align: center;
  line-height: 2.9rem;
  letter-spacing: 1px;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button {
  font-family: "Josefin Sans";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
}

.wrapper {
  max-width: 1560px;
  width: 90%;
  margin: 0 auto;
}

button {
  margin-top: 1.5rem;
  color: #171B0E;
  background-color: #FFD300;
  padding: 15px 15px 10px 15px;
  border: none;
  cursor: pointer;
}
button.findOut {
  color: #ffffff;
  background-color: #0F0F0F;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

header {
  background-image: url("../the-restaurant-mall-assets/home-header.jpg");
  background-position: top;
  background-repeat: repeat-x;
}
header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .flexContainer .h1Container {
  margin-left: 5%;
}
header .flexContainer h1 {
  width: 30%;
  z-index: 10;
}
header .flexContainer h1 span {
  color: #171B0E;
  background-color: #ffffff;
  padding: 15px 5px 0 5px;
}
header .flexContainer .boxImgContainer {
  width: 70%;
}
header .flexContainer .boxImgContainer img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  top: 70px;
}

.mainMenu {
  margin: 100px 0;
}

.mainMenuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mainMenuItems .items {
  width: 45%;
  margin: 0 0 5% 5%;
  position: relative;
}
.mainMenuItems .items h2 {
  color: #ffffff;
}
.mainMenuItems .items::before {
  content: "";
  background-color: #FFD300;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  padding: 25px;
  position: absolute;
  top: 15px;
  left: -60px;
}
.mainMenuItems .item1::before {
  background-image: url("../the-restaurant-mall-assets/location-dot-solid.svg");
}
.mainMenuItems .item2::before {
  background-image: url("../the-restaurant-mall-assets/users-solid.svg");
}
.mainMenuItems .item3::before {
  background-image: url("../the-restaurant-mall-assets/file-solid.svg");
}
.mainMenuItems .item4::before {
  background-image: url("../the-restaurant-mall-assets/phone-flip-solid.svg");
}

.foodMenu {
  background-color: #171B0E;
}
.foodMenu .foodFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.foodMenu .foodFlexContainer .foodImgContainer {
  width: 45%;
  min-width: 400px;
}
.foodMenu .foodFlexContainer .foodImgContainer img {
  margin: 0 auto;
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  position: relative;
  top: 50px;
}
.foodMenu .foodFlexContainer .foodImgContainer .burger {
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  top: -50px;
}
.foodMenu .foodFlexContainer .foodTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
  padding: 60px 0;
  min-width: 400px;
}
.foodMenu .foodFlexContainer .foodTextContainer p {
  width: 75%;
}
.foodMenu .foodFlexContainer .try {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.giftCard {
  text-align: center;
  margin: 150px 0;
}
.giftCard p {
  text-align: left;
  width: 87%;
  margin: 0 auto;
}
.giftCard .banner {
  margin-top: 150px;
  height: 40vh;
  background-image: url("../the-restaurant-mall-assets/banner.jpg");
  background-position: center;
  background-size: cover;
}

.nature {
  margin-bottom: 150px;
}
.nature h2 {
  margin-top: 0;
}
.nature .natureFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}
@media (max-width: 1000px) {
  .nature .natureFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.nature .natureFlexContainer .natureImgContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1000px) {
  .nature .natureFlexContainer .natureImgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.nature .natureFlexContainer .natureImgContainer img {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}
.nature .natureFlexContainer .natureTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer {
  background-color: #171B0E;
}
footer .gallery {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .gallery li {
  width: 31.3333333333%;
  margin: 1%;
  min-width: 200px;
}
footer .gallery li img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
footer p {
  text-align: center;
  background-color: #0F0F0F;
  padding: 0.3rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}
header nav ul li {
  padding: 0 20px;
}
header nav ul li:first-child a {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFD300;
}

@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}